*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,95,249,1) 32%, rgba(0,255,141,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



